<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Favresume generator for Developers">
    <meta name="keywords" content="Tech job,developers resume,best resume app,favcode54,favresume">
    <meta name="theme-color" content="#DD2476">
            <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#DD2476">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="#DD2476">
    <title>FavCode54</title>
</head>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />

<link rel="stylesheet" type="text/css" href="init.css">

<body>

<nav class="white">
    <div class="nav-wrapper">

        <a href="/" class="brand-logo"><img src="https://favcode54.org/images/favcode54-logo.png" class="logo responsive-img"/></a>
    </div>
</nav>




<div class="fixed-action-btn">
     <a class="btn-floating btn-large blue pulse">
    <i class="large material-icons">mode_edit</i>
  </a>
<ul>
   
<li><a class="btn tooltipped btn-floating red" data-position="left" data-tooltip="Download" id="generate"><i class="material-icons">publish</i></a></li>
                   
<li><a class="btn tooltipped btn-floating yellow darken-1" data-position="left" data-tooltip="Reset" id="reset"><i class="material-icons">refresh</i></a></li>  
  
  <li><a class="btn tooltipped btn-floating blue" data-position="left" data-tooltip="Clear" id="clear"><i class="material-icons">remove_circle_outline
</i></a></li>      
</div>
  
<div id="divider"></div>
<div id="editor" class="uk-card uk-width-1-1 uk-card-default uk-card-body" name="json"></div>
<a id="download_link" href="#" target="_blank" style="display:none"></a>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script type="text/javascript" src="init.js"></script>
<script src="/assets/js/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
   

       

document.addEventListener("DOMContentLoaded", function () {

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/json"); 
    var sample = ` {
        "firstname": "Favour",
        "lastname": "Ori",
        "contact": {
            "email": "favourdemo@gmail.com",
            "phone": "(870) 949-0000",
            "website": "www.favourori.github.io",
            "linkedin": "linkedin.com/in/favourori/",
            "github": "github.com/orifavour"
        },
        "skills": {
            "details": [
                {
                    "type": "Programming Languages",
                    "items": [
                        "Java",
                        "Swift",
                        "Python",
                        "Javascript",
                        "PHP",
                        "Ruby",
                        "Rails"
                    ]
                },
                {
                    "type": "Web Frameworks",
                    "items": [
                        "Bootstrap",
                        "Materialize",
                        "Rails"
                    ]
                },
                {
                    "type": "Databases",
                    "items": [
                        "MySQL",
                        "SQLite"
                    ]
                },
                {
                    "type": "Tools",
                    "items": [
                        "Git",
                        "Sketch",
                        "Github",
                        "Craft by Invision",
                        "Andriod Studio",
                        "Xcode"
                    ]
                },
                {
                    "type": "Interests",
                    "items": [
                        "Software Development",
                        "Web Development",
                        "Machine Learning",
                        "Internet of Things"
                    ]
                }
            ]
        },
        "github_projects": {
            "items": [
                {
                    "project_name": "Bethel Church (App Backend)",
                    "tagline": "[iOS App Admin](https://github.com/orifavour/BethelChurchiOSAppBackend)",
                    "description": [
                        "Desktop App (developed in Java) for managing & controlling the content of Bethel's Mobile App"
                    ],
                    "technology_used": {
                        "tools": [
                            "Java",
                            "PHP",
                            "MySQL"
                        ]
                    }
                },
                {
                    "project_name": "SAU Honors College",
                    "tagline": "[iOS App ](https://github.com/orifavour/iOSHonorsCollege)",
                    "description": [
                        "iOS App designed for SAU Honors College  to improve the mobile experience of students, faculty, and friends of the college."
                    ],
                    "technology_used": {
                        "tools": [
                            "Swift",
                            "Xcode"
                        ]
                    }
                }
            ]
        },
        "other_projects": {
            "items": [
                {
                    "headline": "iOS App – Bethel Church, Magnolia",
                    "points": [
                        "Designed an iOS app for Bethel Church, to reduce printing of bulletins, and to let members have direct access to podcasts, upcoming events etc."
                    ],
                    "technology_used": {
                        "tools": [
                            "Swift",
                            "MySQL",
                            "PHP"
                        ]
                    }
                },
                {
                    "headline": "Course Selector – Computer Science Dept. SAU",
                    "points": [
                        "Web App for seamless course selection and registration"
                    ],
                    "technology_used": {
                        "tools": [
                            "HTML5",
                            "CSS3",
                            "PHP",
                            "MySQL"
                        ]
                    }
                }
            ]
        },
        "work_experience": {
            "items": [
                {
                    "title": "Software Developer",
                    "organisation": "Southern Arkansas University",
                    "location": "Magnolia, AR",
                    "from": "January 2017",
                    "to": "Present",
                    "details": [
                        "Working closely with my professors on various researches & projects"
                    ],
                    "technology_used": {
                        "tools": [
                            "Xcode",
                            "Swift",
                            "Java",
                            "HTML5",
                            "CSS3",
                            "PHP"
                        ]
                    }
                }
            ]
        },
        "involvement": {
            "organizations": [
                "Volunteer, Magnolia Blossom, OCT 2016"
            ]
        },
        "education": {
            "schools": [
                {
                    "degree": "Bachelor of Science",
                    "major": "Computer Science",
                    "institution": "Southern Arkansas University",
                    "graduation_year": 2020
                }
            ]
        },
        "research_experience": {
            "items": [
                {
                    "title": "Web Hacking",
                    "organisation": "National Collegiate Honors Council",
                    "from": "February 2017",
                    "to": "April 2017",
                    "points": [
                        "Implemented encryption methods (MD5 and SHA-1)to secure a previously unsecure Web App"
                    ]
                }
            ]
        }
    }
`;
    editor.setValue(sample);


  
   function screen_resize() {
    var h = parseInt(window.innerHeight);
    var w = parseInt(window.innerWidth);
    
    desktop = $('.desktop a');
    mobile = $('.mobile a');
        

    if(w <= 600) {
        // set all data-id as id in all links ('a' elements) on mobile
        $.each(mobile, function (index, item) {
            id_val = $(item).data('id');
            $(item).attr('id',id_val);
            //console.log(id_val);
        });
        
        // remove all data-id as id in all links ('a' elements) on desktop
        $.each(desktop, function (index, item) {
            $(item).removeAttr('id');
        });

        console.log('Resized window to mobile.');
    } else {
        // set all data-id as id in all links ('a' elements) on desktop
        $.each(desktop, function (index, item) {
            id_val = $(item).data('id');
            $(item).attr('id', id_val);
        });

        // remove all data-id as id in all links ('a' elements) on mobile
        $.each(mobile, function (index, item) {
            $(item).removeAttr('id');
        });
        
        console.log('Resized window to desktop.');
    }
    
    // Var Declaration 
    var form = document.getElementById('json_form');
    var container = document.getElementById('page-wrap');
    var reset = document.getElementById('reset');
    var clear = document.getElementById('clear');
    var generate = document.getElementById('generate');

    // Event Listener
    reset.addEventListener('click', handleReset);
    clear.addEventListener('click', handleClear);
    generate.addEventListener('click', handleSubmit);

}
 // if window resize call responsive function
$(window).resize(function(e) {
    screen_resize();
});


screen_resize();




function handleReset (e){
     e.preventDefault();
    editor.setValue(sample); 
}
    function handleClear(e) {
        e.preventDefault();
        editor.setValue("");
    }


    function handleSubmit(e) {
        e.preventDefault();
//det data from editor
json = editor.getValue();
        json = tryParseJSON(json);



        if (json) {
            data = json;
            //send to serve
            const options = {
                method: "POST",
                body: JSON.stringify(json),
                headers: new Headers({
                'Accept': 'application/json',
                    "Content-Type": "application/json"
                })
            };

            var temp = generate.innerHTML;
            console.log('generating...');

            fetch("/generate", options)
                 .then((response) => response.json())
                .then((response) => {
                    if(response.filename) {

                      generate.innerHTML = "Generated";

                    }else {
                        
                        generate.innerHTML = "something went wrong";

                    }
                    window.document.location.href = response.filename;
                  generate.innerHTML = temp;
                    console.log('generated');
                })
                .catch((err) => console.log(err));

           
        }
        else {

        }


    }


      function tryParseJSON(jsonString) {
          console.log('Parsed JSON Object Successfully.')
        try {
            var json = JSON.parse(jsonString);
            if (json && typeof json === "object") {
                return json;
            }
        }
        catch (e) { }

        return false;
    };

      //function for screen resize

    


});

 


</script>

</html>
