<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>FavCode54</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="init.css">
</head>
<body class="ash">
	<div class="row">
		<div class="col l8 m8 s12">
			<img src="images/lad.jpg" alt="docs" class="responsive-img">
		</div>
		<div class="col l4 m4 s12 ash btn-core">
           <div class=" block-inline top"  >
            		 <a href="/home" class=" hoverable pos waves-effect waves-light btn  btn-large  " id="reg-btn">RESUME</a>
            	</div>
  
            	<div class="block-inline top" >
            		 <a href="learn" class=" hoverable pos waves-effect waves-light btn  btn-large " id="rent-btn">LEARN</a>

            	</div>

		</div>
	</div> 

</body>
</html>