<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>FavCode54</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="init.css">
</head>
<body>
	


  <div class="carousel carousel-slider center" >
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect blue white-text darken-text-1" id="back">back</a>
       <a class="btn waves-effect red white-text darken-text-4" href="/home">Get Started</a>
       <a class="btn waves-effect blue white-text darken-text-2" id="next">next</a>
    </div>
    <div class="carousel-item white black-text row" href="#one!">

    	<div class="col s12 l6 m6"><img src="images/x6.png" alt="favimage"  width="40%" class="responsive-imgx"></div>
       <div class="col s12 l6 m6">
       	 <h2>Step One</h2>
       	 <h5 class="black-text caption" style="margin-top:5rem">Edit the json with your own data</h5>
       </div>
     
    </div>

    <div class="carousel-item white black-text row" href="#two!">
     
      	<div class="col s12 l6 m6"><img src="images/x3.PNG" alt="favimage" width="40%" class="responsive-imgx"></div>
      	 <div class="col s12 l6 m6">
       	 <h2>Step Two</h2>
       	 <h5 class="black-text caption" style="margin-top:5rem">Hover on the main menu</h5>
       </div>

    </div>

    <div class="carousel-item white black-text row"  href="#three!">

      
      	<div class="col s12 l6 m6"><img src="images/x4.png" alt="favimage" width="40%" class="responsive-imgx"></div>
      	 <div class="col s12 l6 m6">
       	 <h2>Step Three</h2>
        <h5 class="black-text caption" style="margin-top:5rem">Use the download button to generate your resume</h
       </div>

    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script type="text/javascript" src="init.js"></script>
<script type="text/javascript">
     
</script>
</html>